streamlit==1.35.0
qrcode
python-pptx
Pillow
PyMuPDF
googletrans==4.0.0-rc1
PyPDF2
transformers==4.29.2
torch==2.0.1
tokenizers>=0.13.2
sentencepiece
requests
beautifulsoup4
opencv-python-headless==4.9.0.80
mediapipe>=0.10.9
Pillow
numpy
